<div>
  <table>
    <tr>
      <td>
        <div class='group wat-cf'>
          <div class='left'>
            <span class = 'label'>Referencia</span>
          </div>
          <div class='right'>
            <input id='ref' type='text' name='ref' class='autocomplete_repuestos text_field' data-remote='ref' />
            <span class='description'></span>
          </div>
        </div>
      </td>
      <td>        
        <div class='group wat-cf'>
          <div class='left'>
            <span class = 'label'>Cantidad</span>
          </div>
          <div class='right'>
            <input type='text' id='cantidad' class='cantidad numeric'/>
            <span class='description'></span>
          </div>
        </div>
      </td>
      <td>
        <div class='group wat-cf'>
          <div class='left'>
            <span class = 'label'>Descripción</span>
          </div>
          <div class='right'>
            <input type='text' id='desc' class='desc'/>
            <span class='description'></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan='2'>
        <input type='button' value='Agregar' id='agregar-repuesto' /></td>
    </tr>
  </table>
</div>