<div>
  <p>
    <label>Ingrese una descripción: </label>
		<input type='text' id='add-eval' class='add-eval' />
  </p>
  <input type='button' id='to-eval' name='add_descripcion' value='Guardar descripción' />
</div>