select{
  width: 200px;
}

.convention-color{
  width: 50px;
}

.agenda-day{
  width: 30px;
  text-align: center;
}

.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 10px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error {
  color: #D8000C;
  background-color: #FFBABA;
}

.filter-head{
}

.filter{
  display: none;
}

#color-selector {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(/images/colorpicker/select.png);
}

#color-selector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(/images/colorpicker/select.png) center;
}