select{
  width: 200px;
}

.convention-color{
  width: 50px;
}

.agenda-day{
  width: 30px;
  text-align: center;
}

.info, .success, .warning, .error1, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 10px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
label.error {
	display: block;
	color: red;
	font-style: italic;
	font-weight: normal;
}

input.error {
	border: 2px solid red;
  background-color: #FFFFD5;
  margin: 0px;
  color: red;
}

.filter-head{
}

.filter{
  display: none;
}

#color-selector {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(/images/colorpicker/select.png);
}

#color-selector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(/images/colorpicker/select.png) center;
}

.icono{
  margin-right: 5px;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix{display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */
/************************************************************************/
.form input.text_field, .form textarea.text_area {
    border: 1px solid #001C26;
	width: 200px;
}
form label.valores {
	display: block;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
}
.form label.label {
    display: block;
    float: left;
    font-weight: bold;
    padding-bottom: 2px;
    width: 200px;
}
.form label.man_cal {
    display: block;
    float: left;
    font-weight: bold;
    padding-bottom: 2px;
    width: 250px;
}
#agenda_fecha_programacion {
	float:left;
    width: 150px;
}
#agenda_tipo_mantenimiento_id {
	float:left;
	width: 157px;
}
.form div.man_cal {
    float: right;
    width: 65%;
}
.table {
    border-collapse: collapse;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}
.table td {
    padding: 5px;
}
.table th {
    font-weight: bold;
    padding: 5px;
    text-align: left;
}
.table th.first {
    width: 5px;
}
.table th.last {
    width: auto;
}
.form .group {
    height: auto;
    margin-bottom: 5px;
    margin-left: 10px;
}
.form .manual_operacion {
    height: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
}
#hoja_vida_manual_operacion {
	font-size: 1.2em;
    margin: 0;
    padding: 1px 0;
}
/**************************************** REPORTES DE MANTENIMIENTO ***************************************/
.reporte .tiempo {
	float: left;
    height: 130px;
    margin-right: 20px;
    width: 47%;
}
.reporte .tiempo fieldset {
    height: 90px;
    padding: 10px;
}
.reporte .mantenimiento {
	float: left;
    height: 130px;
    width: 50%;
}
.reporte .mantenimiento fieldset {
    height: 90px;
    padding: 10px;
}
.reporte .mantenimiento .title {
	font-size: 14px;
    font-weight: bold;
}
.reporte .estados {	
	float: left;
	margin-bottom: 15px;
	width: 100%;
}
.reporte .estados fieldset {
    padding: 10px;
}
.reporte .evaluacion {	
	float: left;
	margin-bottom: 15px;
	width: 100%;
}
.reporte .evaluacion fieldset {
    padding: 10px;
}
.reporte .descripcion {	
	float: left;
	margin-bottom: 15px;
	width: 100%;
}
.reporte .descripcion fieldset {
    padding: 10px;
}
.reporte .repuestos {	
	float: left;
	margin-bottom: 15px;
	width: 100%;
}
.reporte .repuestos fieldset {
    padding: 10px;
}
.reporte .prestador {	
	float: left;
	margin-bottom: 15px;
	width: 100%;
}
.reporte .prestador fieldset {
    padding: 10px;
}
.reporte .responsable {	
	float:left;
	margin-bottom: 15px;
	width: 100%;
}
.reporte .responsable fieldset {
    padding: 10px;
}
/****************************** REPORTES FORMULARIO **************************************/
.estados {
	float: left;
    width: 100%;
}
.estados fieldset {
    padding: 10px;
    margin-bottom:15px;
}
.rp_evaluacion {
	float: left;
    width: 100%;
}
.rp_evaluacion fieldset {
    padding: 10px;
    margin-bottom:15px;
}
.rp_evaluacion textarea {
	width: 100%;
}
.evaluacion {
	float: left;
	margin-right:20px;
    width: 47%;
}
.evaluacion fieldset {
    padding: 10px;
    margin-bottom:15px;
}
.evaluacion .extra textarea {
	width:100%;
}
.descripcion {
	float: left;
    width: 50%;
}
.descripcion fieldset {
    padding: 10px;
    margin-bottom:15px;
}
.descripcion .extra textarea {
	width:100%;
}
.repuestos {
	float: left;
    width: 100%;
}
.repuestos fieldset {	
    padding: 10px;
    margin-bottom:15px;
}
.finalizacion {
	float: left;
    width: 50%;
}
.finalizacion fieldset {	
    padding: 10px;
    margin-bottom:15px;
}
/********************************** CALENDARIO *************************************/
.select_year {
	float:left;
	width:100%;
	padding:10px;
}
.select_year h4 {
	float: left;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    width: 200px;
}
.inventario {
	float:left;
    margin-top: 40px;
	width:100%;
}
.convenciones {
	float:left;
	width:30%;
}
.alert-alert{
  color: #9F6000;
  background-color: #FEEFB3;
}

.alert-normal{
  color: #4F8A10;
  background-color: #DFF2BF;
}
/************************************** TIPO INSUMOS ***********************************/
.fieldset_tipo_insumos {
	float:left;
	margin-top:20px;
	margin-bottom:20px;
	padding: 10px;
    width: 97%;
}
.fieldset_tipo_insumos b {
	float: left;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
}
.fieldset_tipo_insumos p {
	border-bottom: 1px solid #DDDDDD;
    padding-bottom: 2px;
}