<div class="block">
  <div class="secondary-navigation">
  </div>
  <div class="content">
    <h2 class="title">Calendario</h2>
    <div class="inner">
      <div class="inventario">
        <table class="table">
          <!-- This is the months header -->
          <thead>
            <tr>
              <th class="first"></th>
              <th>Enero</th>
              <th>Febrero</th>
              <th>Marzo</th>
              <th>Abril</th>
              <th>Mayo</th>
              <th>Junio</th>
              <th>Julio</th>
              <th>Agosto</th>
              <th>Septiembre</th>
              <th>Octubre</th>
              <th>Noviembre</th>
              <th class="last">Diciembre</th>
            </tr>
          </thead>
          <tbody>
            <%= build_calendar_row(equipos)  %>
          </tbody>
        </table>
      </div>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>