<table class="table">
<thead>
  <tr>
    <th class="first"></th>
    <th>ene</th>
    <th>feb</th>
    <th>mar</th>
    <th>abr</th>
    <th>may</th>
    <th>jun</th>
    <th>jul</th>
    <th>ago</th>
    <th>sep</th>
    <th>oct</th>
    <th>nov</th>
    <th class="last">dic</th>
  </tr>
</thead>
<tbody>
  <%= build_calendar_row(equipos, year)  %>
</tbody>
</table>
