	<table class="table">
	  <!-- This is the months header -->
   <thead>
     <tr>
       <th class="first"></th>
       <th>Enero</th>
       <th>Febrero</th>
       <th>Marzo</th>
       <th>Abril</th>
       <th>Mayo</th>
       <th>Junio</th>
       <th>Julio</th>
       <th>Agosto</th>
       <th>Septiembre</th>
       <th>Octubre</th>
       <th>Noviembre</th>
       <th class="last">Diciembre</th>
     </tr>
   </thead>
   <tbody>
     <%= build_equipo_calendar_row(equipo, year)  %>
   </tbody>
 </table>