<fieldset>
  <legend>Autogenerar Agenda</legend>
  <%- form_for :generate, :url => autogenerar_agenda_path do |f| %>
  <p>
    <span>A&ntilde;o a generar:</span>
    <%= select_tag :desde, options_for_select(Autoagenda.anios_disponibles) %>
  </p>
  <p>
    <span>Tipo Mantenimiento:</span>
    <%= select_tag :tipo_mantenimiento, options_for_select(@tipos.collect{|tipo| [tipo.nombre, tipo.id]}), {:include_blank => 'Seleccionar'} %>
  </p>
  <p>
    <span>Periodicidad:</span>
    <%= select_tag :periodicidad, options_for_select(%w(3 4 6)) %>
  </p>
  <%= submit_tag 'enviar' %>
  <% end %>
</fieldset>