<h3>Programación Vs. Ejecución de mantenimientos y calibraciones para el año: <%= year %></h3>

<div class="block">
  <div class="secondary-navigation">
  </div>
  <div class="content">
    <div class="inner">
      <div class="inventario">
        <table class="table">
          <!-- This is the months header -->
          <thead>
            <tr>
              <th class="first">Mantenimiento</th>
              <th></th>
              <th>Ene</th>
              <th>Feb</th>
              <th>Mar</th>
              <th>Abr</th>
              <th>May</th>
              <th>Jun</th>
              <th>Jul</th>
              <th>Ago</th>
              <th>Sep</th>
              <th>Oct</th>
              <th>Nov</th>
              <th class="last">Dic</th>
            </tr>
          </thead>
          <tbody>
            <%= build_comparative_calendar_row(equipo, tipo, year)  %>
          </tbody>
        </table>
      </div>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>
