<div class="block notice">
  <h3>Bloque de Informacion</h3>
  <div class="content">
    <p>Contenido.</p>
  </div>
</div>
<div class="block">
  <h3>Administración</h3>
  <ul class="navigation">
    <li><%= link_to "Tipos de Mantenimiento", tipo_mantenimientos_path  %></li>
    <li><a href="#">Usuarios</a></li>
  </ul>
</div>